<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head>
	<script type="text/javascript">
	document.onkeydown = function(eventTag){
        var event=eventTag||windows.event;
        var e=event.srcElement||event.target;
        if(event.keyCode == 13){
        	modifypassword();
            return false;
        }
	}
	function init(){
		var height = $(window).height();
		$("#signature_show").dialog({
                autoOpen: false,
                height: height,
                width: 800,
                modal: false,
                buttons: {
                    "确定": function () {
                        set_signature();
                    },
                    "取消": function () {
                        $(this).dialog("close");
                    }
                },
                close: function () {
                    clearForm($("#signature_form"));
					$("#file_name").val("");
					$("#contract_file").attr("src","__PUBLIC__/image/nophoto.jpg");
					$('#uploadphotoconfirm').val(""); 
                }
            });
			$("#update_password_show").dialog({
                autoOpen: false,
                height: height,
                width: 600,
                modal: false,
                buttons: {
                    "确定": function () {
                        modifypassword();
                    },
                    "取消": function () {
                        $(this).dialog("close");
                    }
                },
                close: function () {
                    clearForm($("#update_password_form")); 
                }
            });
			uploadpic();
	}
	function modifypassword(){
		var oldpassword=$("#oldpassword").val();
		var newpassword=$("#newpassword").val();
		var confirmpassword=$("#confirmpassword").val();
		if(oldpassword==""){
			alert("旧密码不能为空");
			return;
		}
		if(newpassword=="" | confirmpassword==""){
			alert("新密码不能为空");
			return;
		}
		if(newpassword!=confirmpassword){
			alert("两次输入的新密码不一致");
			return;
		}
		$.ajax({   
	        type:"post",     
	        url:"{:U('Staff/updatepassword')}", 
	        dataType:"json",
	        data:{
	        	"oldpassword":$.md5(oldpassword),
	        	"newpassword":$.md5(newpassword)
	        	},
	        success:function(data){   
	        	if(data==null | data.num<1)
	        	{
	        		if(data.num==-1){
	        			alert("请重新登录");
	        			window.location.href="{:U('Index/index')}";
	        			return;
	        		}
	        		if(data.num==-2){
	        			alert("原始密码错误");
	        			return;
	        		}
	        		alert("密码修改失败");
	        		return;
	        	}
	        	else{
	        		alert("修改成功");
	        	}
				window.location.href="{:U('Staff/index')}";
	        },   
	        error:function(){   
	            alert("出错");   
	        }   
	    });				  
	}
	function show_signature(){
			$("#signature_show").dialog("open");
			
		}
		function show_update_password(){
			$("#update_password_show").dialog("open");
		}
		function set_signature(){
			$.ajax({
                type: "post",
                url: "{:U('Staff/set_signature')}",
                dataType: "json",
                data: {
                    "signature": $("#file_name").val()
                },
                success: function (data) {
                    if (data == null | data.num < 1) {
                        alert("设置失败");
                    }
                    alert("设置成功");
					$("#signature_show").dialog("close");
                },
                error: function () {
                    alert("长时间未操作，请重新登录！");
                    window.location.href = "{:U('Index/index')}";
                }
            });
		}
	</script>
</head>

<body onload="init()">
<button type="button" class="btn btn-danger" onclick="show_update_password()" id="bt_update_password">
        修改密码
    </button>
    <button type="button" class="btn btn-danger" onclick="show_signature()" id="bt_set_signature">
        设置数字签名
    </button>
	<div id="signature_show" title="数字签名">
        <form id="signature_form">
            <div class="col-sm-12">
                <div class="col-sm-12 form-group">
                    <label class="col-sm-3 control-label">
                        数字签名图片
                        </label>
                        <div class="col-sm-6"> 
                        <input type="hidden" id="file_type_id">
                        <input type="hidden" id="file_name">
		<img  id="contract_file" src="__PUBLIC__/image/nophoto.jpg" style="max-height:120px;max-width:120px;" />
		<div id="uploadphotoconfirm"></div>
		<input type="button" class="btn btn-primary" id="upload_button"  value="上传图片" />
		<br/>
		<div class="help-inline">*请上传格式为.png .jpg .jpeg 的图片</div>
        <div class="help-inline">*文件大小不要超过30M</div>
        <div class="help-inline">*上传的图片的宽高比要设置成5:2</div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div id="update_password_show" title="修改密码">
    <form id="update_password_form">
		<div class="col-sm-12 form-group">
			<label for="oldpassword" class="col-sm-3 control-label">旧密码</label>
			<div class="col-sm-9">
				<input type="password" class="form-control" id="oldpassword" placeholder="请输入密码">
			</div>
		</div>
		<div class="col-sm-12 form-group">
			<label for="newpassword" class="col-sm-3 control-label">新密码</label>
			<div class="col-sm-9">
				<input type="password" class="form-control" id="newpassword" placeholder="请输入密码">
			</div>
		</div>
		<div class="col-sm-12 form-group">
			<label for="confirmpassword" class="col-sm-3 control-label">确认密码</label>
			<div class="col-sm-9">
				<input type="password" class="form-control" id="confirmpassword" placeholder="请输入密码">
			</div>
		</div>
	</form>
    </div>
</body>

</html>